body {
  font-family: "Quicksand" !important;
  margin: 0;
  background: #212121 !important;
  overflow-x: hidden;
  zoom: 75%;
}

p {
  font-size: 20px;
}

@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap");


.dropdown-menu.show {
  transform: translate(-243px, 97px) !important;
}

.react-tabs__tab {
  display: inline-block;
  position: relative;
  color: #fff !important;
  font-weight: bolder;
  font-size: 30px;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab-list {
  margin: 44px 0 30px;
  padding: 0;
  border: 2px !important;
}

.react-tabs__tab--selected:after {
  content: "";
  float: left;
  background: #fff;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  margin-top: 5px;
}

.center {
  text-align: center !important;
  display: block;
  margin: auto;
}

.buttonwhite {
  padding: 10px 25px;
  margin-right: 20px;
  border-radius: 50px;
  font-size: 25px;
  border: none;
  font-weight: bolder;
  font-family: Quicksand;
  cursor: pointer;
  background: transparent;
  color: #fff;
}

.paddinghero {
  margin-bottom: 650px;
}

.__react_component_tooltip.show {
  opacity: 1;
  border-radius: 19px;
}

.small {
  max-width: 25px;
}

.footer {
  bottom: 0;
  width: 100%;
  margin: 0;
  line-height: 60px;
  background: #121212;
  padding: 50px 0;
}

.footercontainer {
  margin: 0 200px;
}

.footersep {
  border-color: #fff;
  opacity: 0.1;
  margin: 0 200px;
  height: 2px;
  margin-top: 20px;
}

.sep {
  border-color: #fff;
  opacity: 0.1;
}

.svgfooter {
  margin-top: -400px;
}

.footersocial {
  margin-right: 35px;
  font-size: 30px;
}

.footerlinks {
  padding: 20px;
}

.heropadding {
  margin-bottom: 100px;
}

.cards {
  background: #121212;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin-top: 30px;
  padding: 30px;
  color: #fff;
  display: inline-block;
  box-sizing: border-box;
}

.cardtitle {
  font-size: 22px;
  font-weight: bolder;
}

.pro {
  border-radius: 50px;
  background: #04d87f;
  font-size: 20px;
  padding: 10px;
  line-height: 1px;
  cursor: pointer;
  vertical-align: middle;
}

.staff {
  border-radius: 50px;
  background: #fff;
  color: #121212;
  font-size: 20px;
  padding: 10px;
  line-height: 1px;
  cursor: pointer;
  vertical-align: middle;
}

.live {
  border-radius: 50px;
  background: #dc3545;
  color: #fff;
  font-size: 15px;
  padding: 5px 10px;
  line-height: 1px;
  cursor: pointer;
  vertical-align: middle;
}

.none:hover,
.none:active,
.none:focus {
  text-decoration: none !important;
}

.verified {
  border-radius: 50px;
  background: #0472d8;
  color: #fff;
  font-size: 20px;
  padding: 10px 12px;
  line-height: 1px;
  vertical-align: middle;
  cursor: pointer;
}

.category {
  border-radius: 50px;
  background: #0472d8;
  color: #fff;
  font-size: 15px;
  padding: 5px 10px;
  line-height: 1px;
  vertical-align: middle;
  cursor: pointer;
}

.thumbnail {
  max-height: 100px;
  border-radius: 15px;
  margin-right: 20px;
}

.tags {
  border-radius: 50px;
  background: #0472d8;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  line-height: 1px;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
}

.tagscont {
  margin-top: 15px;
}

.glimeshInfo {
  padding: 10px 0px;
  align-self: center;
}

.dropdown-item.active,
.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  outline: none;
  background-color: transparent !important;
}
.dropdown-toggle::after {
  display: none !important;
}

.probutton {
  color: #04d87f;
}

.logout {
  color: #dc3545;
}

.btn-success {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.dropdown-menu {
  background: #121212 !important;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin-top: 30px;
  padding: 30px;
  color: #fff;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}

.glimeshTitle {
  font-size: 22px !important;
  font-weight: bolder;
}

.cardGlimesh {
  background: #0e1726;
  width: 100%;
  padding: 0;
  margin-top: 0;
  margin-right: 20px;
  text-align: left;
}

.paddingcards {
  margin-top: 50px;
  padding-bottom: 100px;
}

.proimage {
  max-height: 150px;
}

.probadge {
  max-width: 100%;
}

.cardtext {
  font-size: 22px;
  font-weight: normal;
}

.navbar {
  padding: 25px 100px !important;
}

.cards > p {
  color: #ffffff !important;
  margin-bottom: 1rem !important;
}

.postcontent > p, ul {
  margin-bottom: 1rem !important;
}

.inner {
  margin: 0 auto;
  color: #ffffff;
}

.marginone {
  margin: 0;
}

.left {
  text-align: left !important;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  width: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.section {
  max-width: 800px;
}

.text {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  margin: 15px 0 40px 0 !important;
}

.padding {
  margin-bottom: 40px;
}

.profile {
  max-width: 900px;
  zoom: 125%;
}

.mainimage {
  border-radius: 25px;
  box-shadow: 0 4px 70px rgba(0, 0, 0, 0.25);
}

.sbui-card {
  border-radius: 25px !important;
  background: #121212 !important;
  box-shadow: 0px 4px 82px rgba(0, 0, 0, 0.25) !important;
  border: none !important;
  font-weight: bold !important;
  color: #fff !important;
}

.sbui-card-content {
  background: transparent !important;
}

.sbui-formlayout__label {
  color: #fff !important;
}

.sbui-checkbox__label-container__label__span {
  color: #fff !important;
}

.sbui-input {
  color: #000 !important;
}

.container {
  margin-bottom: 50px;
}

.subtitle {
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
}

.subtext {
  font-weight: bold;
  width: 725px;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.pro {
  max-width: 200px;
}

.procont {
  margin-left: 20% !important;
  margin-right: 20% !important;
}

.sbui-typography,
.dark a.sbui-typography,
a.sbui-typography,
.sbui-typography sbui-typography-link {
  --tw-text-opacity: 1;
  /* color: rgba(62,207,142,var(--tw-text-opacity)); */
  color: #fff !important;
}

.domains {
  background: #1f1f1f;
  box-shadow: 0px 4px 49px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  width: fit-content;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  margin-right: 20px;
  font-size: 30px;
  line-height: 37px;
  align-items: center;
  text-align: center;
}

.right {
  text-align: right;
}

.margin {
  margin-right: 20px;
}

.logo {
  max-width: 150px;
}

.feed {
  display: grid;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 100px;
}

.postcontainer {
  position: relative;
  width: 100%;
  margin: 0 20px;
}

.created {
  background-image: url("https://i.imgur.com/Qhpratm.png");
  position: relative;
  z-index: -200;

  width: 100%;
}
.created2 {
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.created2:hover {
  transform: scale(1.05);
}

.createTitle {
  font-weight: bolder;
}

.createText {
  margin-bottom: 20px !important;
}

.postinput {
  width: 100% !important;
  box-sizing: border-box;
  background: #060606 !important;
  border: none;
  color: #fff !important;
  font-size: 25px !important;
}

.postsubmit {
  position: absolute;
  bottom: 20px;
  right: 10px;
  box-shadow: none !important;
}

.postmarkdown {
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-transform: uppercase;
  font-weight: bolder;
  opacity: 0.5;
}

.tiny {
  margin-top: 10px;
  margin-bottom: 40px !important;
}

.login {
  margin: 0 auto;
  background: #313131;
  width: 500px;
  border-radius: 25px;
  margin-bottom: 200px;
}

.login2 {
  text-align: center !important;
  background: #313131;
  width: 500px;
  height: 660px;
  border-radius: 25px;
  margin-left: 37%;
}

.push {
  margin-left: auto;
}

.desc {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.heroheader {
  font-size: 80px;
  text-align: left;
}

.middle {
  text-align: center;
}

.users {
  margin-bottom: 200px;
}

.username {
  color: #ffffff;
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
}

.buttonmargin {
  margin: 20px;
}

.heroheader2 {
  font-size: 80px;
  margin-bottom: 50px;
  margin-top: 50px;
}

h1 {
  margin: 0;
  color: #fff !important;
}

h1, h2, h3, h4, h5, h6 {
  font-size: revert !important;
}

.herologinheader {
  font-size: 50px;
  color: #ffffff;
  padding-top: 30px;
}

.small {
  width: 80px;
}

.bio {
  color: #fff;
  font-weight: bolder;
  font-weight: bold;
  font-size: 20px;
  width: 400px;
  margin-top: 20px !important;
  margin: auto;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  color: white !important;
}

.socialcont {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.embedbutton {
  margin-top: 20px;
}

.padd {
  margin-bottom: 200px;
  padding: 0 80px;
}

.input {
  height: 20px;
  text-align: left;
  background: #060606 !important;
  border: none;
  color: #fff !important;
  padding: 30px;
  font-size: 25px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.plural {
  max-height: 75px;
}

.inline {
  display: unset;
  margin-left: -42px;
}

.inline2 {
  display: block;
  position: relative;
  z-index: -100;
  width: 100%;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . .";
  mask-image: linear-gradient(to right, transparent 20%, black 200%);
}

.create {
  position: absolute;
  z-index: 100;
  align-items: center;
  margin-top: 32px;
}

.flex {
  display: flex;
}

.profileavatar:visited {
  padding: 0;
}

.padd2 {
  margin-bottom: 50vh !important;
}

.middle {
  justify-content: center;
  margin-left: 50px;
}

.handle {
  font-size: 30px;
  color: #747474;
}

.usercount {
  height: 500px;
  width: 500px;
  background: #121212;
  color: white;
  padding: 26px 24px;
  margin-left: -42px;
  vertical-align: middle;
  line-height: 0;
  font-size: 25px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.textarea {
  height: 200px;
  width: 322px;
  text-align: left;
  background: #060606 !important;
  border: none;
  color: #fff !important;
  padding: 30px;
  font-size: 15px;
  border-radius: 25px;
  font-weight: bolder;
}

.small2 {
  max-height: 75px;
}

.h1 {
  font-weight: bold !important;
  color: #ffffff !important;
  text-align: center !important;
}

.hr {
  margin: 0 6rem;
  border-top: 1.5px solid rgba(255, 255, 255, 0.1);
}

.profilelink {
  margin-bottom: 20px;
}

.padd2 {
  margin-bottom: 50px;
}

.createpost {
  width: 100%;
  max-width: 100%;
}

.createpost {
  margin: 0 200px;
}

.social {
  border-radius: 50%;
  color: #ffffff !important;
  font-size: 20px !important;
  line-height: 0px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  webkit-transition: background-color 0.3s;
  display: inline-block;
  margin-left: 10px;
  padding: 20px;
  vertical-align: middle;
}

p {
  margin-bottom: 0 !important;
}

.profileavatar {
  padding: 0;
}

.flexsocial {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  max-width: 100%;
}

.twitter {
  background: #1da1f2;
  margin-left: 0;
}

.github {
  color: #000000 !important;
  background: #ffffff;
}

.instagram {
  background: #e1306c;
}

.discord {
  background: #7289da;
}

.guilded {
  background: #f5c400;
  color: #111820 !important;
}

.makerlog {
  background: #00ad70;
}

.sunshine {
  background: white;
  padding: 10px;
}

.glimesh {
  background: #0e1726;
  padding: 4px;
}

.twitch {
  background: #9146ff;
  color: #000000 !important;
}

.sunshine-img {
  border-radius: 100%;
  max-width: 40px;
}

.glimesh-img {
  border-radius: 100%;
  max-width: 55px;
}

.navpad {
  padding: 0 !important;
}

.button {
  padding: 10px 25px;
  border-radius: 50px;
  font-size: 25px;
  border: none;
  font-weight: bolder;
  font-family: Quicksand;
  box-shadow: 0 4px 70px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background: #ffffff;
  color: #212121;
}

.button:focus {
  outline: none;
}

.buttonwhite:focus {
  outline: none;
}

.input:focus {
  outline: none;
}

.textarea:focus {
  outline: none;
}

.schedule {
  max-height: 350px;
  margin-bottom: 100px;
}

.edit {
  text-align: left;
  font-weight: bolder;
  font-size: 20px;
}

input {
  margin-top: 50px;
  padding: 25px;
  border-radius: 50px;
  font-size: 25px;
  border: none;
  font-weight: bolder;
  font-family: Quicksand;
  cursor: pointer;
  background: #0472d8;
  color: #ffffff;
}

.herotext {
  font-size: 47px;
  font-weight: bolder;
  text-align: left;
  margin-top: 50px;
}

.herotext2 {
  font-size: 47px;
  font-weight: bolder;
  text-align: center;
}

.heroalt {
  color: #cf4747;
}

.avatar2 {
  max-width: 80px !important;
  box-shadow: none !important;
}

.avatar3 {
  max-width: 70px !important;
  max-height: 70px !important;
  box-shadow: none !important;
}

.fullscreen {
  height: 100vh;
  border-radius: 0 !important;
  display: grid;
  margin: auto;
}

.profilecont {
  padding: 28px;
  border-radius: 25px;
  display: block;
  text-align: center;
  background: #121212;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07);
  background-size: cover;
}

.posts {
  column-count: 1;
  column-gap: 25px;
}

.postcard {
  max-width: 100%;
}

.profilescont {
  margin: 0 10% !important;
}

.minutesago {
  font-size: 20px;
  margin-left: 20px;
}

.postcontent {
  font-size: 20px;
  display: block;
}

li {
  list-style-type: disc;
  margin-left: 20px;
}

.postcontent > h1 {
  font-weight: bold;
  font-size: 35px;
}

.postcontent > h2 {
  font-weight: bold;
  font-size: 30px;
}

.postcontent > h3 {
  font-weight: bold;
  font-size: 25px;
}

.postcontent > p > a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  width: 40vw;
}

.avatar {
  border-radius: 500px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  text-align: center;
  object-fit: cover;
  max-height: 130px;
  max-width: 130px;
  width: 130px;
  height: 130px;
}

.grow {
  height: 450px;
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

.middle {
  padding: none;
  margin-bottom: 50px;
}

.stats {
  text-align: center;
}

.search {
  width: 100%;
}

.search:focus {
  outline: none;
}

.avatar2 {
  margin-top: 0;
  object-fit: cover;
  width: 83px;
  height: 83px;
}

.producthunt {
  margin-top: 50px;
  zoom: 125%;
}

a {
  color: #ffffff !important;
  text-decoration: none;
}

.userdetails {
  padding: 25px 100px;
  width: 100%;
}

.editsub {
  text-align: left;
}

.navbar-brand {
  max-width: 100px !important;
  padding: 20px 0 !important;
}

.auto {
  margin: 0;
}

.width {
  width: 100%;
}

.padd2 {
  margin-bottom: 0;
}

.cardspost {
  width: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #060606;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #060606;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
@media only screen and (max-width: 1350px) {

.socialcont {
  display: grid;
  align-content: center;
}

.margin { 
  margin-right: 0;
}

.socials { 
  text-align: center;
  display: inline-flex;
  overflow: scroll;
}

.socials::-webkit-scrollbar {
  display: none;
}

.twitter {
  margin-left: 0;
}
} 

@media only screen and (max-width: 768px) {
  .flex {
    display: grid;
    margin: auto;
  }

  .inline2 {
    display: none;
  }

  .created {
    display: block;
    position: static;
  }

  .create {
    position: static;
  }

  .col-4 {
    max-width: 100% !important;
  }

  .userdetails {
    justify-content: unset;
  }

  .social {
    margin: 20px 10px;
  }

  .posts {
    column-count: 1;
  }

  .postsfeed {
    margin-bottom: 100px !important;
  }

  .react-tabs__tab-list {
    margin: 0;
  }

  .profile {
    max-width: 100%;
  }

  .buttonwhite {
    padding: 0;
  }

  .navbar {
    padding: 0 25px !important;
  }

  .footercontainer {
    margin: 0;
  }

  .footersep {
    margin-left: 0;
    margin-right: 0;
  }

  .react-tabs {
    margin: auto;
  }

  .flexsocial {
    display: grid;
  }

  .react-tabs__tab {
    font-size: 25px;
  }

  .username {
    text-align: center;
  }

  .avatarcont {
    margin: auto;
    vertical-align: middle;
  }

  .padd {
    padding: 0;
  }

  .feed {
    margin: 0;
  }

  .cards {
    margin: 20px 0;
  }
}
