body {
  text-align: left;
  font-family: "Quicksand";
  background: #121212;
  margin: 0;
  overflow: hidden;
}

@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap");

h1 {
  color: white;
  line-height: 10px;
}

.projtitle {
  font-size: 45px;
}

.projdesc {
  font-size: 20px;
}

.card {
  display: block;
  z-index: 1;
  box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 50px;
  background: #282828;
  margin: 20px;
  display: inline-block;
  vertical-align: middle;
}

.shots {
  box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  max-width: 780px;
  margin: 10px;
}

.shotscont {
  width: min-content;
}

.titlehr {
  border: 1px solid #fff;
  background: #fff;
  border-radius: 7px 7px 7px 7px;
  height: 6px;
  width: 200px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.titlehr2 {
  border: 1px solid #fff;
  background: #fff;
  border-radius: 7px 7px 7px 7px;
  height: 6px;
  width: 100px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.wall {
  border: none;
}

.shots2 {
  box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  max-width: 372px;
  margin: 10px;
}

.card2 {
  display: block;
  z-index: 1;
  box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  background: #282828;
  margin: 20px;
  display: inline-block;
  vertical-align: middle;
}

.card3 {
  display: block;
  z-index: 1;
  box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.25);
  border-radius: 500px;
  background: #282828;
  margin: 20px;
  padding-right: 50px;
  display: inline-block;
  vertical-align: middle;
}

.card2 > a {
  margin: 0;
}

.background {
  background-image: url("/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

.padfix {
  transform: translateY(5%);
  margin-top: 25px;
}

.showcase {
  margin-top: 20px;
  width: 700px;
  border-radius: 50px;
  top: 0;
}

.skills {
  display: flex;
}

.btnfix {
  margin: 30px 30px;
  display: block;
  font-size: 35px !important;
  box-shadow: none !important;
}

.mainbutton {
  border-radius: 50%;
  font-size: 25px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: bolder;
  font-family: Quicksand;
  background: transparent;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-top: 20px;
  margin-right: 30px;
}

.schedulelogo {
  max-width: 200px;
  margin-top: 30px;
}

.projbtn {
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 25px;
  border: none;
  display: inline-block;
  font-weight: bolder;
  font-family: Quicksand;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.schedbtn {
  display: block !important;
}

.flex-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.flex-grid2 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.flex-grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "shot1 shot2"
    "shot1 shot3";
}

.shot1 {
  grid-area: shot1;
}
.shot2 {
  grid-area: shot2;
}
.shot3 {
  grid-area: shot3;
}

.padd {
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  margin-top: 15% !important;
}

.col {
  width: 400px;
}

.showcasecont {
  position: fixed;
  display: inline;
  padding-right: 200px;
  right: 0;
}

.flex {
  display: flex;
}

.herocont {
  display: flex;
  margin-top: 100px;
  align-items: center;
  vertical-align: middle;
  justify-content: space-around;
}

.projects {
  display: flex;
  justify-content: space-around;
  margin: 200px 200px 20px 200px;
}

.project {
  display: flex;
  justify-content: space-around;
  margin-bottom: 200px;
}

.center {
  text-align: center;
}

.submit {
  text-align: center;
  margin-left: 15%;
}

.gridfix {
  display: block;
}

.cafvid {
  height: 236px;
  width: 401px;
  border-radius: 25px;
  box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.25);
  margin-left: 19px;
  margin-top: 20px;
}

.projh1 {
  text-transform: uppercase;
  font-size: 70px;
  line-height: 0px;
}

.left-line {
  content: "";
  margin-top: 25px;
  width: -10px;
  border: 5px solid #fff;
  border-radius: 10px;
  height: 38px;
  margin-right: 45px;
}

.avatar {
  margin-left: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 89px rgba(0, 0, 0, 0.25);
}

.prenup {
  padding-bottom: 25px;
  font-size: 40px;
}

.eventdesc {
  max-width: 880px;
  max-height: 300px;
  font-size: 35px;
  font-weight: bolder;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.scenes {
  margin-left: 130px;
  margin-top: 140px;
}

.scenetitle {
  font-size: 55px;
  line-height: 0px;
  padding-bottom: 10px;
}

.scenedesc {
  color: #f4a52e;
  font-weight: bolder;
  font-size: 40px;
  line-height: 0px;
  max-width: 100%;
}

.game {
  border-radius: 45px;
  max-width: 300px;
  max-height: 300px;
  box-shadow: 0px 3px 55px rgba(0, 0, 0, 0.3);
}

.info {
  margin-left: 100px;
}

.container {
  width: 100vw;
  height: 100vh;
}

.item {
  border-radius: 45px;
  background: #111111;
  content: " ";
  width: 300px;
  height: 300px;
  max-height: 300px;
  max-width: 300px;
  margin: 30px;
}

@media only screen and (max-width: 1080px) {
  .item,
  .itemimg {
    border-radius: 15px;
    width: 85px;
    height: 85px;
    max-height: 85px;
    max-width: 85px;
  }

  .item {
    margin: 5px;
  }
}

.player {
  background: #1ed760;
  border-radius: 15px;
  width: 400px;
  height: 104px;
  display: flexbox;
  margin-right: 20px;
  margin-top: 26px;
  position: absolute;
  top: 0;
  right: 0;
}

.chat {
  position: absolute;
  top: 0;
  right: 0;
  display: flexbox;
  width: 400px;
  height: 500px;
  border: none;
  border-radius: 25px;
  margin-top: 75px;
  margin-right: 10px;
}

.album {
  margin: 10px 30px 10px 10px;
  max-height: 100px;
  border-radius: 50%;
  vertical-align: middle;
}

.gamecont {
  margin-top: 200px;
  display: flex;
  margin-left: 200px;
}

.pretzelmargin {
  margin-left: 275px;
}

p {
  color: white;
  max-width: 500px;
  font-weight: bolder;
}

.logo {
  max-height: 104px;
  margin-top: 50px;
}

.nav {
  display: flex;
  margin-left: 200px;
  align-items: center;
  justify-content: left;
}

a {
  color: #fff;
  text-decoration: none;
  margin: 20px 0px;
}

@media (max-width: 1344px) {
  .flex-grid {
    display: grid;
    grid-template-columns: auto;
  }

  .projects {
    display: grid !important;
  }

  .col {
    width: 300px !important;
  }

  .left-line {
    display: none;
  }

  .projh1 {
    font-size: 50px !important;
  }

  .btncenter {
    margin: auto;
  }

  .herocont {
    text-align: center;
    justify-content: center !important;
  }

  .nav {
    margin-left: none !important;
  }

  .nav {
    margin-left: 10px !important;
    justify-content: center !important;
  }

  .avatar {
    display: none;
  }

  .flex-grid3 {
    display: block !important;
  }

  .shots {
    max-width: 372px;
  }

  .flex-grid2 {
    display: grid;
    grid-template-columns: none !important;
  }
}

@media (max-width: 486px) {
  .title {
    line-height: 75px !important;
  }
}
