body {
  font-family: "Quicksand" !important;
  margin: 0;
  background: #212121 !important;
  overflow-x: hidden;
}

@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap");

h1 {
  color: #ffffff;
}

.react-tabs__tab {
  display: inline-block;
  position: relative;
  color: #fff !important;
  font-weight: bolder;
  font-size: 30px;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab-list {
  margin: 44px 0 50px;
  padding: 0;
  border: 2px !important;
}

.react-tabs__tab--selected:after {
  content: "";
  float: left;
  background: #fff;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  margin-top: 5px;
}

.center {
  text-align: center !important;
  display: block;
  margin: auto;
}

.buttonwhite {
  padding: 10px 25px;
  margin-right: 20px;
  border-radius: 50px;
  font-size: 25px;
  border: none;
  font-weight: bolder;
  font-family: Quicksand;
  cursor: pointer;
  background: transparent;
  color: #fff;
}

.paddinghero {
  margin-bottom: 650px;
}

.small {
  max-width: 25px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.heropadding {
  margin-bottom: 100px;
}

.cards {
  background: #121212;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin-top: 30px;
  padding: 30px;
  color: #fff;
  width: fit-content;
  margin: auto;
}

.probadge {
  max-width: 100px;
}

.cardtitle {
  font-size: 22px;
  font-weight: bolder;
}

.paddingcards {
  margin-top: 50px;
}

.cardtext {
  font-size: 22px;
  font-weight: normal;
}

.navbar {
  padding: 25px 100px !important;
}

p {
  color: #ffffff !important;
}

.inner {
  margin: 0 auto;
  color: #ffffff;
}

.info {
  margin-top: 40px;
  margin-left: 50px;
}

.section {
  max-width: 800px;
}

.text {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.padding {
  margin-bottom: 40px;
}

.profile {
  max-width: 900px;
  border-radius: 25px;
  box-shadow: 0 4px 70px rgba(0, 0, 0, 0.25);
}

.sbui-card {
  border-radius: 25px !important;
  background: #121212 !important;
  box-shadow: 0px 4px 82px rgba(0, 0, 0, 0.25) !important;
  border: none !important;
  font-weight: bold !important;
  color: #fff !important;
}

.sbui-card-content {
  background: transparent !important;
}

.sbui-formlayout__label {
  color: #fff !important;
}

.sbui-checkbox__label-container__label__span {
  color: #fff !important;
}

.sbui-input {
  color: #000 !important;
}

.container {
  margin-bottom: 50px;
}

.subtitle {
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
}

.subtext {
  font-weight: bold;
  width: 725px;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.pro {
  max-width: 200px;
}

.procont {
  margin-left: 20% !important;
  margin-right: 20% !important;
}

.sbui-typography,
.dark a.sbui-typography,
a.sbui-typography,
.sbui-typography sbui-typography-link {
  --tw-text-opacity: 1;
  /* color: rgba(62,207,142,var(--tw-text-opacity)); */
  color: #fff !important;
}

.domains {
  box-shadow: none !important;
}

.right {
  text-align: right;
}

.margin {
  margin-right: 20px;
}

.logo {
  max-width: 200px;
}

.tiny {
  margin-top: 10px;
  margin-bottom: 40px;
}

.login {
  margin: 0 auto;
  background: #313131;
  width: 500px;
  border-radius: 25px;
  margin-bottom: 200px;
}

.login2 {
  text-align: center !important;
  background: #313131;
  width: 500px;
  height: 660px;
  border-radius: 25px;
  margin-left: 37%;
}

.push {
  margin-left: auto;
}

.desc {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.heroheader {
  font-size: 80px;
  text-align: left;
}

.middle {
  text-align: center;
}

.users {
  margin-bottom: 200px;
}

.username {
  color: #ffffff;
  font-weight: bolder;
  font-size: 50px;
  margin-top: 20px;
  text-align: left;
}

.buttonmargin {
  margin: 20px;
}

.heroheader2 {
  font-size: 80px;
  margin-bottom: 50px;
  margin-top: 50px;
}

h1 {
  margin: 0;
  color: #fff !important;
}

.herologinheader {
  font-size: 50px;
  color: #ffffff;
  padding-top: 30px;
}

.small {
  width: 80px;
}

.bio {
  color: #fff;
  font-weight: bolder;
  font-weight: bold;
  font-size: 20px;
  width: 400px;
}

.padd {
  margin-bottom: 200px;
  padding: 0 80px;
}

.input {
  height: 20px;
  background: #ffffff;
  text-align: left;
  color: #000000;
  padding: 30px;
  font-size: 25px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.inline {
  display: unset;
  margin-left: -80px;
}

.flex {
  display: flex;
}

.profileavatar:visited {
  padding: 0;
}

.middle {
  justify-content: center;
  margin-left: 85px;
}

.handle {
  font-size: 40px;
  line-height: 40px;

  color: #bbbbbb;
}

.usercount {
  height: 500px;
  width: 500px;
  background: #121212;
  color: white;
  padding: 20px 22px;
  margin-left: -60px;
  vertical-align: middle;
  line-height: 0;
  font-size: 25px;
  border: 5px dashed rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}

.textarea {
  height: 200px;
  width: 322px;
  background: #ffffff;
  text-align: left;
  color: #000000;
  padding: 30px;
  font-size: 15px;
  border-radius: 25px;
  font-weight: bolder;
}

.small2 {
  max-height: 75px;
}

.h1 {
  font-weight: bold !important;
  color: #ffffff !important;
  text-align: center !important;
}

.hr {
  margin: 0 6rem;
  border-top: 1.5px solid rgba(255, 255, 255, 0.1);
}

.profilelink {
  margin-bottom: 20px;
}

.padd2 {
  margin-bottom: 50px;
}

.social {
  border-radius: 50%;
  color: #ffffff !important;
  height: 54px;
  font-size: 20px !important;
  line-height: 0px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  webkit-transition: background-color 0.3s;
  width: 54px;
  display: inline-table;
}

.flexsocial {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.twitter {
  background: #1da1f2;
}

.navpad {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.button {
  padding: 10px 25px;
  border-radius: 50px;
  font-size: 25px;
  border: none;
  font-weight: bolder;
  font-family: Quicksand;
  box-shadow: 0 4px 70px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background: #ffffff;
  color: #212121;
}

.schedule {
  max-height: 350px;
  margin-bottom: 100px;
}

.edit {
  text-align: left;
  font-weight: bolder;
  font-size: 20px;
}

input {
  margin-top: 50px;
  padding: 25px;
  border-radius: 50px;
  font-size: 25px;
  border: none;
  font-weight: bolder;
  font-family: Quicksand;
  cursor: pointer;
  background: #0472d8;
  color: #ffffff;
}

.herotext {
  font-size: 47px;
  font-weight: bolder;
  text-align: left;
  margin-top: 50px;
}

.herotext2 {
  font-size: 47px;
  font-weight: bolder;
  text-align: center;
}

.heroalt {
  color: #cf4747;
}

.avatar {
  border-radius: 500px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  max-width: 100px;
  text-align: center;
  max-width: 130px;
}

.middle {
  padding: none;
  margin-bottom: 50px;
}

.avatar2 {
  margin-top: 0;
}

.producthunt {
  margin-top: 50px;
}

a,
a:visited,
a:hover,
a:active {
  color: #ffffff !important;
  text-decoration: none;
  padding: 20px;
}

.userdetails {
  display: grid;
  justify-content: space-between;
  padding: 25px 100px;
}

.editsub {
  text-align: left;
}

.navbar-brand {
  max-width: 100px !important;
  padding: 20px 0 !important;
}

.auto {
  margin: 0;
}

.width {
  width: 100%;
}

.react-tabs {
  width: 85vw;
}
